<html lang="es">
    <head>
        <link href="../assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
            <% for(let i=0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].nombre %></td>
                    <td><%= data[i].apellido %></td>
                    <td><%= data[i].edad %></td>
                </tr>
            <% } %>
        </table>

    </body>
</html>